# ignore all logs
.src/logs

# ignore all enviroment variables
.env

# Config file
config.yml

# __pycache__ files
__pycache__/

# Virtual environments
.venv/

# Cert Files
*.pem

# User uploads
userUploads/

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
.codacy/
